/* HEADER: gere le logo, titre, bouton de connexion et recherche sous forme de tableau */
body{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}
body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    backdrop-filter: blur(30px);
    background-color: rgba(182, 182, 182, 0.2);
    margin: unset;
}

h1,
h2 {
    text-align: center;

}

.logo {
    min-width: 50px;
    width: 20%;
}

.title {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
}

.date {
    float: right;
    display: flex;
    color: rgba(255,255,255,1);
}

#button_search {
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: rgb(74, 68, 68);
    text-shadow: 1px 1px 1px #000;
    line-height: 2.5;
    width: 30%;
}

#button_search:hover {
    background-color: rgb(53, 49, 49);
}

#input_search {
    width: 70%;
}

/* INDEX: gère le tableau des accidents, le lien de signalisation et la date */


table {
    width: 50%;
    border-collapse: collapse;
}



th,
td {
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(247, 247, 247);
}

#connexion {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 50%;
}

/* LOGIN: gère les champs pour s'inscrire et/ou se connecter */
.text{
    color: rgba(255,255,255,1);

}
.login_signup_field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-top: 5px;
}

.login_signup_form {
    margin-left: 38%;
    background-color: rgba(0,0,0,0.4);
    width: 300px;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    /*background-color: #25333e;*/
    /*Activer pour avoir un fond bleu (rend pas très bien pour l'instant)*/
    padding: 20px;
}

.login_signup_button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.login_signup_button:hover {
    background-color: #45a049;
}
.hide{
    
    width: 40px;
    height: 40px;
}

/* ACCIDENT: gère les signalisations d'accident */

.report {
    display: grid;
    justify-content: center;
    border-radius: 10px;
    /*background-color: #25333e;*/
    /*Activer pour avoir un fond bleu (rend pas très bien pour l'instant)*/
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
    width: 300px;
    margin-left: 37%;
}


.report_button {
    width: 100%;
    background-color: #B32626;
    color: white;
    font-size: 15px;
    padding: 14px 14px;
    /* margin: 10px 10px; */
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.report_button:hover {
    background-color: #A32322;
}

textarea {
    resize: vertical;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}