<!DOCTYPE html>
<html lang="FR">

<head>
  <meta charset="utf-8">
  <title>Projet prepa</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>  
    $(function(){ 
      $("#header").load("header.html");  
    }); 
  </script> 
</head>

<body>
  <div id="header"></div>
  <hr>

  <main>
    <div class="report">
      <h2>Signaler un accident</h2>

      <form action="/accident" method="POST">
        <label class="text" for="location">Number: </label>
        <input class="loc" name="number" type="number" placeholder="Number" required>

        <label class="text" for="location">Street: </label>
        <input class="loc" name="street" type="text" placeholder="Street" required>

        <label class="text" for="location">District: </label>
        <input class="loc" name="district" type="text" placeholder="District" required>
  
        <label class="text" for="accident">Accident: </label>
        <textarea name="accident" placeholder="Expliquez l'accident" cols="25" rows="5" style="height:200px"></textarea>
  
        <button class="report_button" type="submit">Signaler</button>
      </form>

      
    </div>

  </main>
  <footer></footer>
</body>

</html>