<!DOCTYPE html>
<html lang="FR">

<head>
  <meta charset="utf-8">
  <title>Projet prepa</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">

  <header>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="FML-Logo">
    </a>

    <h1 class="title"><a href="/" id="title_link">FixMyLouv</a></h1>

    <input class="button_header" type="button" value=<%=user %> id="connexion" onclick="location.href='/login';">

    <div class="search">
      <form action="/" method="get">
        <input type="text" placeholder="Recherche" id="input_search" name="looking_for" required>

        <button id="button_search" type="submit" name="btn_search" value="searching">🔎</button>
      </form>
    </div>
    
  </header>
</head>

<body>
  <div id="header"></div>
  <hr>

  <main>

    <div class="login_signup_form">

      <h4>
        <%= message %>
      </h4>

      <form action="/login" method="post">

        <h2 class="text">Compte existant</h2>
        <input class="login_signup_field" type="email" name="email" placeholder="Adresse e-mail" required><br>
        <input class="login_signup_field" type="password" name="password" placeholder="Mot de passe" required id="lock"> 
        <img src="images/hide1.png" class="hide" id="hide" alt="hide password" onclick="change()" />  
        <br>
        <button class="login_signup_button" type="submit" name="btn" value="login">S'indentifier</button>
        
      </form>
      <script>
        i= true
        function change(){
          if (i) {
            document.getElementById('lock').setAttribute("type",Text);
            document.getElementById('hide').src="/images/NotHide1.png";
            i=false;
          }
          else{
            document.getElementById('lock').setAttribute("type","password");
            document.getElementById('hide').src="/images/hide1.png";
            i=true;
          }  
          }
      </script>

      <form action="/login" method="post">

        <h2 class="text">Nouveau compte</h2>
        <input class="login_signup_field" type="text" name="pseudo" placeholder="Nom de l'utilisateur" required><br>
        <input class="login_signup_field" id="lock1" type="password" name="password" placeholder="Mot de passe" required> 
        <img class="hide" src="images/hide1.png" alt="hide logo" id="hide1" onclick="change1()"/>
        <br>
        <input class="login_signup_field" type="text" name="name" placeholder="Nom complet" required><br>
        <input class="login_signup_field" type="email" name="email" placeholder="Adresse e-mail" required><br>
        <button class="login_signup_button" type="submit" name="btn" value="signup">S'enregistrer</button>

      </form>
      <script>
        i= true
        function change1(){
          if (i) {
            document.getElementById('lock1').setAttribute("type",Text);
            document.getElementById('hide1').src="/images/NotHide1.png";
            i=false;
          }
          else{
            document.getElementById('lock1').setAttribute("type","password");
            document.getElementById('hide1').src="/images/hide1.png";
            i=true;
          }  
          }
      </script>
    </div>

  </main>
  <footer></footer>
</body>

</html>